.query-in-progress {
  background-image: url('img/ui-anim_basic_16x16.gif');
  background-position: right center;
  background-repeat: no-repeat;
  background-origin:content-box;
 }

#input {
  width: 50%;
  margin: 10px;
  float: left;
}

.invalid-query {
  background-color: #f2dede;
}

.valid-query {
  background-color: #dff0d8;
}

#help {
  float: left;
  left: 5px;
}

.popover {
  max-width: 500px;
}

.scroll-div {
  height: 100%; !important;
  overflow-y: scroll;
}

embed {
  pointer-events: none;
}

.molecule-card {
  display: inline-block;
  width: 450px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
}

.molecule-card-hover {
    background-color: #f5f5f5;
}

.diagram {
  width: 200px;
  padding-left: 0px;
  padding-right: 0px;
}